*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ecf0f3;
    font-size: 30px;
}
.calculator{
    border-collapse: collapse;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff; 
}
#display{
    width:95%;
    margin: auto;
    height: 80px;
    font-size: 50px;
    line-height: 80px;
    text-align: right;
    border-radius: 5px;
    box-shadow: 8px 8px 8px #cbced1 inset, -8px -8px 8px #ffffff inset;
}
.cell{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff;

}
.buttons{
    width: 100%;
    margin-top: 15px;
}
.row{
    margin: 0px;
}

.cell:active{
    box-shadow:  5px 5px 8px rgba(16, 16, 16, .1) inset, -5px -5px 8px #fff inset;
}