body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}
.container{
    
    width: 70%;
    margin: auto;
    font-size: 25px;
    padding-top: 20px;
}
.card4{
    position: relative;
}
.name{
    width: 100%;
}
.m-n-p{
    margin: 5px 0px;
    padding: 10px;
}
.w-49{
    width: 45%;
}
.w-100{
    width: 100%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.border{
    border: 2px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.name p{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: white;
    background-color: orange;
    border-top-right-radius: 35px;
    border-bottom-right-radius:35px ;
    margin-bottom: 0px;
    padding: 0px 12px;
}
.card4 button{
    position: absolute;
    font-weight: bold;
    border: none;
    color: white;
    background-color: red;
    border-radius: 6px;
    padding: 10px 20px;
    right: 2%;
    z-index: 1;
}
@media(max-width:1200px){
    .container{
        width: 85%;
    }
}
@media(max-width:1000px){
    .container{
        width: 100%;
    }
}
@media (max-width: 800px){
    .container{
        width: 100%;
    }
    .name{
        width :100%
    }
    .name p{
        width: 97%;

    }
    .card1{
        width: 100%;
    }
    .card2{
        width:100%
    }
    .left, .right{
        width: 100%;
    }
}